{% extends 'accounts/registration_base.html' %}
{% load bootstrap4 %}
{% block content %}

    <section class="screen_area text-center p_120">
        <div class="container">
            <div class="main_title">
                <h2>Forgot Your Password?</h2>
                <p style="color:white;">Enter your email address below, and we'll email instructions for setting a new one.</p>
            </div>
            <div class="login-form">
                 <form method="post">
                  {% csrf_token %}
                  {% bootstrap_form form show_label=false%}
                  {% bootstrap_button "Send me instructions!" button_type="submit" button_class="btn btn-lg login-button"%}
               </form>
            <div>
        </div>
    </section>
{% endblock %}