{% extends 'accounts/registration_base.html' %}
{% load bootstrap4 %}
{% block content %}


    <section class="screen_area text-center p_120">
        <div class="container">
            <div class="main_title">
                <h2>Set a New Password</h2>
            </div>
            <div class="login-form">
                <form method="post">
                {% bootstrap_form_errors form %}
                  {% csrf_token %}
                  {% bootstrap_form form show_label=false%}
                  {% bootstrap_button "Change" button_type="submit" button_class="btn btn-lg login-button" %}
                </form>
            <div>
        </div>
    </section>

{% endblock %}
