<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
		<meta property="og:image" content="{% static 'dashboard/img/lnv-phone-logo.png'%}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="www.lovenotevideo.com" />
		<meta property="og:title" content="Love Note Video" />
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/png">
        <title>Love Note Video</title>
        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'public/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'public/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'public/css/registration.css' %}">
        <style>

        </style>
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '388944762077447');
		fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=388944762077447&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
    </head>
    <body>
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'home' %}"><img class="brand-img" src="{% static 'lnv-logo-sm.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav justify-content-center">
								<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li> 
								{% comment %} <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li> 
								<li class="nav-item"><a class="nav-link" href="services.html">Services</a>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="price.html">Pricing</a> 
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> {% endcomment %}
							</ul>
							<ul class="nav navbar-nav navbar-right">
							{% if request.resolver_match.view_name == 'accounts:login' %}
								<li class="nav-item"><a href="{% url 'accounts:register' %}" class="tickets_btn">Sign Up</a></li>
							{% else %}
								<li class="nav-item"><a href="{% url 'accounts:login' %}" class="tickets_btn">Login</a></li>
							{% endif %}
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>

        {% block content %}
        {% endblock content %}


        <script src="{% static 'public/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'public/js/popper.js' %}"></script>
        <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'public/js/theme.js' %}"></script>
</body>