{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Account</li>
{% endblock breadcrumb %}
{% block content %}

            <div class="card">
                <div class="card-body">
                    <div class="col-lg-6 mx-auto">
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {% bootstrap_form_errors form %}
                            {% bootstrap_form form %}
                            <div class="text-center">
                                <button class="btn btn-lg lilac-button" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
            </h3>
            </div>



{% endblock content %}