{% extends 'staff/base.html' %}
{% load static %}
{% block headscript %}

{% endblock headscript %}
{% block title %}
Orders
{% endblock title %}

{% block content %}

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <!-- Card Body -->
                <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered" id="orderTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>LN Name</th>
                      <th>Order Date</th>
                      <th>Package</th>
                      <th>Coupon</th>
                      <th>Total Paid</th>
                      <th>Actions</th>   
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td>{{order.customer.username}}</td>
                      <td>{{order.event.name}}</td>
                      <td>{{order.created_at}}</td>
                      <td>{{order.package.name}}</td>
                      <td>{{order.event.coupon.coupon.code|default_if_none:""}}</td>
                      <td>${{order.order_total}}</td>
                      <td>
                        <a class="btn btn-sm pink-button" href="#" target="_blank">Button</a>

                    </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
                </div>
              </div>
            </div>

          </div>
{% endblock content %}

{% block footscript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>

  <script>
  $(document).ready(function() {
      $.fn.dataTable.moment( 'MMMM D, YYYY, h:mm a' );
      $('#orderTable').DataTable({
        select:'single',
        "order": [[2, "asc"]]
      })

  })
  </script>
{% endblock footscript %}