{% extends 'staff/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Create New Package
{% endblock title %}

{% block content %}
<!-- Content Row -->
<div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-body">
        <form method="POST" enctype='multipart/form-data'>
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.name %}
          {% bootstrap_field form.description %}
          {% bootstrap_field form.price addon_before="$" %}
          {% bootstrap_field form.included_videos %}
          {% bootstrap_field form.addtl_video_price addon_before="$" %}
          {% bootstrap_field form.sample_video_url %}
          <button class="btn btn-primary" id="submit-button" type="submit">Create</button>
        </form>
      </div>
    </div>
</div>

{% endblock content %}