<div class="modal-header">
  <h4 class="modal-title">{{event.name}}</h4>
</div>
<div class="modal-body">
	<section class="row">
        <div class="col-lg-12">
        <p><strong>Start Title: </strong> {{event.titles.start_title|default_if_none:""}}</p>
        <p><strong>End Title: </strong> {{event.titles.end_title|default_if_none:""}}</p>
        <hr>
        <p><strong>Package: </strong> {{event.order.package.name}}</p>
        <p><strong>Approved Videos: </strong> {{event.order.approved_videos}}</p>
        </div>

  </section>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>