{% extends 'accounts/registration_base.html' %}
{% load bootstrap4 %}
{% block content %}

    <section class="screen_area text-center p_120">
        <div class="container">
            <div class="main_title">
                <h2>Error 403</h2>
                <h4 class="text-muted">Forbidden</h4>
            </div>
            <div class="login-form">
                <p style="color:white">You do not have access to the page you requested. Use your browsers Back button to navigate to the last page.</p>
            <div>
        </div>
    </section>
{% endblock content %}
