{% extends 'accounts/registration_base.html' %}
{% load bootstrap4 %}
{% block content %}

    <section class="screen_area text-center p_120">
        <div class="container">
            <div class="main_title">
                <h2>Error 404</h2>
                <h4 class="text-muted">Page Not Found</h4>
            </div>
            <div class="login-form">
                <p style="color:white">The page you requested could not be found. Use your browsers Back button to navigate to the last page.</p>
            <div>
        </div>
    </section>
{% endblock content %}
