		<meta property="og:type" content="website" />
		<meta property="og:url" content="www.lovenotevideo.com" />
		<meta property="og:title" content="Love Note Video | Celebrate Any Occasion From Anywhere" />
		<meta property="og:description" content="Looking for that extra special gift? Can't celebrate in person? Love Note Video turns individual well-wishes into one shareable professionally edited video with a simple and easy-to-use platform that collects videos messages with a text or email link." />