{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    {% block og_tags %}
    {% endblock og_tags %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/png">
  <title>Love Note Video</title>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<script src="https://kit.fontawesome.com/c47990e7cb.js" crossorigin="anonymous"></script>
  <!-- Custom styles for this template -->
  <link href="{% static 'dashboard/css/scrolling-nav.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
  
  <link href="{% static 'dashboard/css/styles.css' %}" rel="stylesheet">
  <script src="{% static 'dashboard/js/custom.js' %}"></script>
  
  {% block headscript %}
  {% endblock headscript %}
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home'%}"><img class="brand-img" src="{% static 'lnv-logo-sm.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url  'dashboard' %}">Dashboard</a>
          </li>      
          {% comment %} <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">My Love Notes</a>
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:user_update' uuid=request.user.uuid %}"">Account</a>
          </li>
            {% if request.user.is_employee %}
              <li class="nav-item"><a class="nav-link" href="{% url 'staff:editor_dash' %}">Editor Dashboard</a></li>
            {% endif %}
            {% if request.user.is_staff %}
              <li class="nav-item"><a class="nav-link" href="{% url 'staff:staff_dash' %}">Admin Dashboard</a></li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout' %}">Logout</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'accounts:register' %}">Sign Up</a>
            </li>         
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

<div class="content-container">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          {% if request.user.is_authenticated %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                    
                </ol>
            </nav>
          {% endif %}
        {% if messages %}
           {% for message in messages %}
             <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               <h5 class="text-alert">{{ message }}</h5>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span class="text-alert" aria-hidden="true">&times;</span>
               </button>
             </div>
           {% endfor %}
		 {% endif %}       

      {% block content %}
      {% endblock content %}


        </div>
      </div>
    </div>
  </section>
</div>



<div class="modal fade" id="modal-dashboard">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center">Copyright &copy; Love Note Video <script>document.write(new Date().getFullYear());</script></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  
  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'dashboard/js/scrolling-nav.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    
  <script>
  $(document).ready(function(){
   $('video').bind('contextmenu',function() { return false; });
  });
  </script>
  {% block footscript %}
  {% endblock footscript %}

</body>

</html>