{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block headscript %}
<style>
input[type="text"] {
    height: 31px;
}

input[type="text"]::placeholder {  
        
    /* Firefox, Chrome, Opera */
    text-align: center; 
            } 
</style>
{% endblock headscript %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'events:event_detail' uuid=event.uuid %}">{{event.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Publish</li>
{% endblock breadcrumb %}

{% block content %}

            <div class="card">
                <div class="card-body">    
                    <div class="row">
                        <div class="col-lg-4 mx-auto mb-2">
                            <div class="card">
                                <div class="image-container">
                                    {% if event.image %}
                                        <img class="card-img-top" src="{{event.image.url}}" alt="Image Not Found">

                                    {% else %}
                                        <img class="card-img-top" src="{% static "dashboard/img/lnv-phone-logo.png" %}" alt="Image Not Found">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{event.name}}</h5>
                                    <p class="card-text">Due Date: {{event.due_date}}</p>
                                </div>
                                {% comment %} <div class="card-footer text-center">
                                    <a class="btn btn-sm teal-button" href=""><span class="far fa-edit"></span> &nbsp;Update</a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-8 mx-auto mb-2">
                            <div class="card mb-4">                 
                                <div class="card-body">
                                    <h2 class="card-title text-center">Publishing Details</h2>
                                    {% comment %} <p class="card-title text-center">Subnote here</p> {% endcomment %}
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table" cellspacing="0" cellpadding="0" style="margin-bottom:0px;">
                                                <tr>
                                                    <th>Package</th>
                                                    <th class="text-center">Videos Included</th>
                                                    <th class="text-center">Approved Videos</th>
                                                    <th class="text-center">Price</th>
                                                </tr>
                                                <tr>
                                                    <td>{{package.name}}</td>
                                                    <td class="text-center">{{package.min_videos}} - {{package.max_videos}}</td>
                                                    <td class="text-center">{{videos.count}}</td>
                                                    <td class="text-center">${{package.price}}</td>
                                                </tr>
                                                {% if event.coupon %}
                                                    <tr style="margin-top:25px;">
                                                        <td></td>
                                                        <td class="text-center">Discount:</td>
                                                        <td class="text-center">{{event.coupon.coupon.code}}</td>
                                                        <td class="text-center">-${{event.coupon.discount_value}}</>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td></td>
                                                    <td class="text-center"></td>
                                                    <td class="text-right"><strong>Order Total: </strong></td>
                                                    <td class="text-center">${{discounted_total|floatformat:2}}</td>
                                                </tr>
                                            </table>    
                                        </div>
                                        <div class="text-right">
                                            <form method="GET" action="{% url 'orders:use_coupon' %}">
                                                {% if event.coupon %}
                                                    <button style="float:right;" type="submit" class="btn btn-sm btn-warning">Change</button>
                                                {% else %}
                                                    <button style="float:right;" type="submit" class="btn btn-sm btn-warning">Apply</button>
                                                {% endif %}
                                                
                                                <input style="float:right; border: 1px solid #DEDEDE;" type="text" name="coupon_code" placeholder="Discount Code">
                                                <input type="hidden" name="order_total" value="{{order_total}}">
                                                <input type="hidden" name="event_id" value="{{event.id}}">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                <form method="POST">
                                {% csrf_token %}
                                    {% if discounted_total > 0 %}
                                    <script
                                        src="https://checkout.stripe.com/checkout.js"
                                        class="stripe-button"
                                        data-key="{{ key }}"
                                        data-description="Love Note Video"
                                        data-amount="{{stripe_total}}"
                                        data-panel-label="Publish"
                                        data-locale="auto"
                                        data-allow-remember-me="false"
                                        data-email={{request.user.email}}>
                                    </script>
                                    <button class="btn btn-lg teal-button" type="submit"><span class="far fa-heart"></span> &nbsp;Pay & Publish </button>
                                    
                                    {% else %}
                                        <button class="btn btn-lg teal-button" type="submit"><span class="far fa-heart"></span> &nbsp;Publish </button>
                                    {% endif %}
                                </form>
                                </div>
                        </div>
                    </div> 
                </div>
            </div>



{% endblock content %}

{% block footscript %}
<script>
  var all_buttons = document.getElementsByClassName("stripe-button-el");
  for (var i = 0; i < all_buttons.length; i++) {
    all_buttons[i].style.display = "none";
  }
</script>

{% endblock footscript %}