{% extends 'public/base.html' %}
{% load static %}

{% block og_tags %}
	{% include 'base_og_tags.html' %}
{% endblock og_tags %}

{% block headscript %}
<style>
.pink-button {
  border: none;
  color: white;
  background: #F15BB5;
}
</style>
{% endblock headscript %}

{% block content %}

<!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="banner_content">
								<h2>Create memories <br />from anywhere</h2>
								<p>Love Note Video turns individual well-wishes into one shareable, professionally edited video that is easy and convenient for everyone to use!</p>
								<a class="banner_btn" href="{% url 'accounts:register' %}">Start a Love Note</a>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="home_left_img">
								<video width="720" style="max-width:100%" poster="{% static 'public/video/lnv_commercial_main_poster.png' %}" controls controlsList="nodownload" autoplay>
									<source src="{% static 'public/video/lnv_commercial_main.mp4' %}" type="video/mp4">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
   
        <!--================Work Area =================-->
        <section class="work_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>How It works</h2>
        			<p>We have made sharing love easier than ever before!</p>
        		</div>
        		<div class="work_inner row">
        			<div class="col-lg-3">
        				<div class="work_item">
        					<i class="far fa-heart"></i>
        					<a href="#"><h4>Create a Love Note</h4></a>
        					<p>Tell us your occassion and provide a submission due date. We will take care of the rest!</p>
        				</div>
        			</div>
        			<div class="col-lg-3">
        				<div class="work_item">
        					<i class="fas fa-upload"></i>
        					<a href="#"><h4>Share The Link</h4></a>
        					<p>We generate links to email or text invitations to your friends and family to record and upload their love notes!</p>
        				</div>
        			</div>
        			<div class="col-lg-3">
        				<div class="work_item">
        					<i class="fas fa-sort-amount-up-alt"></i>
        					<a href="#"><h4>Order and Approve</h4></a>
        					<p>Select the order of the submissions and choose which to approve</p>
        				</div>
        			</div>
        			<div class="col-lg-3">
        				<div class="work_item">
        					<i class="fas fa-video"></i>
        					<a href="#"><h4>Publish</h4></a>
        					<p>Click Publish and we will provide you a download and shareable link within 48 hours!</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Work Area =================-->
		<a name="how-to-video"></a>
        <!--================Screen Area =================-->
        <section class="made_life_area text-center p_120">
		
        	<div class="container">
        		<div class="main_title">
        			<h2>It's this Simple!</h2>
        			<p>Love Note Video developed the most easy to use platform so loved ones of all ages can contribute without any complications!</p>
        		</div>
        		<video width="720" style="max-width:100%" poster="{% static 'public/video/lnv_how_to_create_thumb.png' %}" controls controlsList="nodownload">
					<source src="{% static 'public/video/lnv_how_to_create.mp4' %}" type="video/mp4">
									Your browser does not support the video tag.
				</video>
        	</div>
        </section>
        <!--================End Screen Area =================-->


        <!--================Made Life Area =================-->
        {% comment %} <section class="made_life_area p_120">
        	<div class="container">
        		<div class="made_life_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
						<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Birthdays</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Graduations</a>
						</li>
						<li class="nav-item">
						<a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Milestones</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" id="edge-tab" data-toggle="tab" href="#edge" role="tab" aria-controls="edge" aria-selected="false">Well Wishes</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
							<div class="row made_life_text">
								<div class="col-lg-6">
									<div class="left_side_text">
										<h3>We’ve created a way<br />to make birthdays even more special</h3>
										<h6>Celebrate your loved one from anywhere!</h6>
										<p>Create a lifelong keepsake video for major birthdays. Surprise them with happy tears especially during times of social distancing</p>
										<a class="main_btn" href="{% url 'accounts:register' %}">Get Started Now</a>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="chart_img">
										<img class="img-fluid" src="img/chart.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<div class="row made_life_text">
								<div class="col-lg-6">
									<div class="left_side_text">
										<h3>Major accomplisments deserve <br />major acknowledgement</h3>
										<h6>We are here to help you show someone how proud you are!</h6>
										<p></p>
										<a class="main_btn" href="{% url 'accounts:register' %}">Get Started Now</a>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="chart_img">
										<img class="img-fluid" src="img/chart.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
							<div class="row made_life_text">
								<div class="col-lg-6">
									<div class="left_side_text">
										<h3>Weddings, Bar/Bat Mitzvahs and Retirement</h3>
										<h6></h6>
										<p>Can't celebrate these amazing milestones that way you originally intended? Show your support and love for the guest of honor with a heart warming Love Note Video</p>
										<a class="main_btn" href="{% url 'accounts:register' %}">Get Started Now</a>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="chart_img">
										<img class="img-fluid" src="img/chart.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="edge" role="tabpanel" aria-labelledby="edge-tab">
							<div class="row made_life_text">
								<div class="col-lg-6">
									<div class="left_side_text">
										<h3>Know someone who needs <br />a splash of happiness?</h3>
										<h6>Create a reason to make your loved one smile!</h6>
										<p></p>
										<a class="main_btn" href="{% url 'accounts:register' %}">Get Started Now</a>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="chart_img">
										<img class="img-fluid" src="img/chart.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
        		</div>
        	</div>
        </section> {% endcomment %}
        <!--================End Made Life Area =================-->
        
              <!--================Made Life Area =================-->
        <section class="screen_area p_120">
        	<div class="container">
        		<div class="made_life_inner">
					<div class="row made_life_text">
						<div class="col-lg-6">
							<div class="left_side_text text-center">
							<h2>Love Notes Created</h2>
							<h3><span class="counter">542</span></h3>
							
								
							</div>
						</div>
						<div class="col-lg-6 text-center">
							<h2> Videos Submitted </h2>
							<h3><span class="counter">2157</span></h3>
							
						</div>
					</div>
        		</div>
        	</div> 
        </section> 
        <!--================End Made Life Area =================-->  
        <!--================Made Life Area =================-->
        {% comment %} <section class="made_life_area p_120">
        	<div class="container">
        		<div class="made_life_inner">
					<div class="row made_life_text">
						<div class="col-lg-6">
							<div class="left_side_text">
								<h3>We’ve made a life <br />that will change you</h3>
								<h6>We are here to listen from you deliver exellence</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
								<a class="main_btn" href="#">Get Started Now</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="chart_img">
								<img class="img-fluid" src="img/browser.png" alt="">
							</div>
						</div>
					</div>
        		</div>
        	</div> 
        </section> {% endcomment %}
        <!--================End Made Life Area =================-->
 <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Testimonials from our Customers</h2>
        			{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> {% endcomment %}
        		</div>
        		<div class="testi_slider owl-carousel">
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									{% comment %} <img src="img/testimonials/testi-1.png" alt=""> {% endcomment %}
								</div>
								<div class="media-body">
									<p>We were in a bind trying to put Michael’s 50th birthday video together and Love Note Video stepped up and came to the rescue! In less then 48 hours Love Note Video put this together and helped make his quarantine birthday extra special! We love it and are so grateful to have you in our life. Xoxo</p>
									<h4>Michelle</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									{% comment %} <img src="img/testimonials/testi-2.png" alt=""> {% endcomment %}
								</div>
								<div class="media-body">
									<p>
									My 40th birthday was just a few weeks after our sweet daughter arrived! We made no plans for a party, but my hubby made me this adorable #lovenotevideo to hear birthday messages from all my favorite people!!
									</p>
									<h4>Jamie</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									{% comment %} <img src="img/testimonials/testi-1.png" alt=""> {% endcomment %}
								</div>
								<div class="media-body">
									<p>Thank you so much for making my son's graduation special. He loved the spectacular video and I am glad he will have it as a keepsake. Thanks for helping us make beautiful memories, easily and quickly.</p>
									<h4>Amy</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			{% comment %} <div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-2.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div> {% endcomment %}
        			{% comment %} <div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-1.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div> {% endcomment %}
        			{% comment %} <div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-2.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div> {% endcomment %}
        		</div>
        	</div>
        </section> 
        <!--================End Testimonials Area =================-->       
        <!--================Price Area =================-->
        <section class="price_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Pricing</h2>
        		</div>
				
        		<div class="price_inner row">
				{% for package in packages %}
        			<div class="col-lg-3">
        				<div class="price_item">
        					<div class="price_head">
        						<h4>{{package.name}}</h4>
        					</div>
        					<div class="price_body">
        						<ul class="list">
									{{package.description|safe}}
        						</ul>
								<button type="button" class="btn pink-button js-package-sample" style="margin-top:20px;" data-url="{% url 'package_sample' pk=package.pk %}">View Sample</button>
        					</div>
        					<div class="price_footer">
        						<h3><span class="dlr">$</span> {{package.price|stringformat:'d'}}</h3>
								<h6>${{package.addtl_video_price}} per additional video </h6>
        						<a class="main_btn" href="{% url 'accounts:register' %}">Get Started</a>
        					</div>
        				</div>
        			</div>
					{% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Price Area =================-->
              <!--================Made Life Area =================-->
        <section class="made_life_area p_120">
        	<div class="container">
        		<div class="made_life_inner">
					<div class="row made_life_text">
						<div class="col-lg-6">
							<div class="left_side_text">
								<h3>Our Mission</h3>
								<h6>It's our mission to provide friends and families all over the world the opportunity to share and celebrate special occassions from a distance.</h6>
								<a class="main_btn" href="{% url 'accounts:register' %}">Get Started Now</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="chart_img">
								<img class="img-fluid" src="{% static 'dashboard/img/lnv-phone-logo.png' %}" alt="" style="max-height:500px;">
							</div>
						</div>
					</div>
        		</div>
        	</div> 
        </section> 
        <!--================End Made Life Area =================-->  
        
        
        <!--================Made Life Area =================-->
        {% comment %} <section class="made_life_area made_white p_120">
        	<div class="container">
        		<div class="made_life_inner">
					<div class="row made_life_text">
						<div class="col-lg-6">
							<div class="chart_img">
								<img class="img-fluid" src="img/banner/home-left-1.png" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="left_side_text">
								<h3>We’ve made a life <br />that will change you</h3>
								<h6>We are here to listen from you deliver exellence</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
								<a class="main_btn" href="#">Get Started Now</a>
							</div>
						</div>
					</div>
        		</div>
        	</div>
        </section> {% endcomment %}
        <!--================End Made Life Area =================-->
        
        <!--================Impress Area =================-->
        {% comment %} <section class="impress_area p_120">
        	<div class="container">
        		<div class="impress_inner">
					<h2>Got Impressed to our features?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
					<a class="banner_btn2" href="#">Request Free Demo</a>
        		</div>
        	</div>
        </section> {% endcomment %}
        <!--================End Impress Area =================-->

<div class="modal fade" id="modal-home-page">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endblock content %}

{% block footscript %}

<script>
$(function () {
    var loadDetail = function () {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $('#modal-home-page .modal-content').html(data.html_package_sample);
                $('#modal-home-page').modal("show");
            }
        })
    }

    $(".js-package-sample").on("click", loadDetail);

});

</script>

{% endblock footscript %}