{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block og_tags %}
	{% include 'base_og_tags.html' %}
{% endblock og_tags %}
{% block headscript %}
<style>
#finalVideo {
    width: 100% !important;
    height: auto !important;
}
</style>
{% endblock headscript %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{event.name}}</li>
{% endblock breadcrumb %}

{% block content %}
            <div class="card">
                <div class="card-header text-center">
                {% if not event.order %}
                    <a class="btn btn-lg teal-button" href="{% url 'orders:publish_event' uuid=event.uuid %}"><span class="far fa-heart"></span> &nbsp;Publish & Submit for Editing</a>
                {% else %}
                    <h4>Published on {{event.order.created_at| date:"M j, Y "}}
                {% endif %}
                </div>
                <div class="card-body">    
                    <div class="row">
                        <div class="col-lg-4 mx-auto mb-2">
                            <!--- EVENT CARD -->
                            <div class="card mb-2">
                                <div class="image-container">
                                    {% if event.image %}
                                        <img class="card-img-top" src="{{event.image.url}}" alt="Image Not Found">

                                    {% else %}
                                        <img class="card-img-top" src="{% static "dashboard/img/lnv-phone-logo.png" %}" alt="Image Not Found">
                                    {% endif %}
                                    {% if event.status == "Open" %}
                                        <button class="btn teal-button" type="button" id="changeImage"><span class="fas fa-camera"></span> &nbsp;Change Image</button>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <div class="show-or-hide">
                                        <form method="POST" enctype='multipart/form-data' action="{% url 'events:event_image_upload' uuid=event.uuid %}">
                                            {% csrf_token %}
                                            {% bootstrap_form_errors image_form %}
                                            {% bootstrap_form image_form layout="horizontal" %}
                                            <div class="text-center">
                                                {% bootstrap_button "Submit" button_type="submit" button_class="btn btn-sm teal-button mb-4"%}
                                            </div>
                                        </form>
                                        <hr>
                                    </div>
                                    <h5 class="card-title">{{event.name}}</h5>
                                    <p class="card-text"><strong>Due Date: </strong>{{event.due_date}}<br>
                                    
                                        <strong>Status: </strong>{{event.get_status_display}}</p>
                                    

                                    

                                </div>
                                <div class="card-footer text-center">
                                {% if event.status == "Open" %}
                                    <button class="btn btn-sm teal-button js-create-event" data-url="{% url 'events:event_update' uuid=event.uuid %}"><span class="far fa-edit"></span> &nbsp;Update</button>
                                {% else %}
                                    <p class="text-muted"><small>Sorry, you cannot update a published love note</small></p>
                                {% endif %}
                                </div>
                            </div>
                            <!--- ORDER CARD -->
                            {% if event.order %}
                           
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Order Details</h5>
                                    <p class="card-text"><strong>Package: </strong>{{event.order.package.name}}<br>
                                        <strong>Total Price: </strong>${{event.order.order_total}}
                                    </p>
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Payments:</th>
                                        </tr>
                                    </thead>
                                    {% for payment in event.order.get_payments %}
                                        <tr>
                                            <td>{{payment.created_at|date:"m/j/Y"}}
                                            <td>${{payment.amount}}</td>
                                            <td><a href="{{payment.receipt_url}}" target="_blank">Receipt</a></td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                    

                                    

                                </div>
                            </div>
                             {% endif %}


                        </div>

                        {% if event.final_video %}
                        <div class="col-lg-8 mx-auto mb-2">
                            <div class="card mb-4">                 
                                <div class="card-body">
                                    <div class="text-center">
                                        <h2 class="card-title">Your Love Note is ready!</h2>
                                        <video id="finalVideo" poster="{{event.final_video_thumbnail.url}}" controls controlsList="nodownload">
                                            <source src="{{event.final_video_mp4.url}}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div class="row">
                                            <div class="col-lg-6 mx-auto text-center mb-2">
                                                <a class="btn btn-lg lilac-button" href="{{event.final_video.url}}" download><span class="fas fa-cloud-download-alt"></span> &nbsp;Download</a>
                                            </div>
                                            <div class="col-lg-6 mx-auto text-center mb-2">
                                                <button class="btn btn-lg lilac-button" data-clipboard-text="https://www.lovenotevideo.com/{{event.uuid}}"><span class="far fa-copy"></span> &nbsp;Copy Shareable Link</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
    
                        <div class="col-lg-8 mx-auto mb-2">
                            <div class="card mb-4">                 
                                <div class="card-body">

                                    <h2 class="card-title text-center">Invite People to Share Their Love</h2>
                                    {% comment %} <p class="card-title text-center">Subnote here</p> {% endcomment %}
                                    <div class="col-lg-12">
                                        {% if event.status == "Open" %}
                                            <div class="row">
                                                <div class="col-lg-4 mx-auto text-center mb-2">
                                                    <a class="btn btn-lg lilac-button" href="mailto:?subject=Let's create a Love Note Video for {{event.name}}&body=I am inviting you to be a part of the Love Note Video for {{event.name}}. Please go to https://www.lovenotevideo.com{{submission_url}} to record or submit a special message. All Love Notes need to be submitted by {{event.due_date}}. Thank you!"><span class="far fa-envelope"></span> &nbsp;Email</a>
                                                </div>
                                                <div class="col-lg-4 mx-auto text-center mb-2">
                                                    <a class="btn btn-lg lilac-button" href="sms:?&body=I am inviting you to be a part of the Love Note Video for {{event.name}}. Please go to https://www.lovenotevideo.com{{submission_url}} to record or submit a special message. All Love Notes need to be submitted by {{event.due_date}}. Thank you!"><span class="far fa-comment-dots"></span> &nbsp;Text</a>
                                                </div>
                                                <div class="col-lg-4 mx-auto text-center mb-2">
                                                    <button class="btn btn-lg lilac-button" data-clipboard-text="https://www.lovenotevideo.com{{submission_url}}"><span class="far fa-copy"></span> &nbsp;Copy Link</button>
                                                </div>
                                            </div>
                                        {% else %}
                                            <p class="text-muted text-center"><small>Video submissions are closed once a love note is submitted for publishing</small></p>
                                        {% endif %}
                                    </div>                          
                                </div>
                            </div>

                            <div class="card mb-4" id="titlesCard">                 

                                {% include 'events/includes/partial_event_titles.html' %}

                            </div>

                            <div class="card">                 
                                <div class="card-body">
                                    <h2 class="card-title text-center">Love Notes</h2>
                                    <div class="col-lg-12">
                                        <div class="row">
                                        {% for video in videos %}
                                            <div class="col-lg-4 mx-auto">
                                                <div class="card mb-4">
                                                	<video width="150" height="150" class="card-img-top" poster="{{video.video_thumbnail.url}}" preload="auto" controls controlsList="nodownload">
                                                        <source src="{{video.video_mp4.url}}" type="video/mp4">
                                                        Your browser does not support the video tag.
                                                    </video>
                                                    
                                                    <div class="card-body video-sub-details">
                                                        <p>From: {{video.uploaded_by}}</p>
                                                        <p class="video-sub-details">Shared: {{video.timestamp| date:"M j, Y "}}</p>
                                                        {% if video.approved %}
                                                            <p class="video-sub-details" style="color:green;"><strong>Approved</strong></p>
                                                        {% else %}
                                                            <p class="video-sub-details" style="color:red;"><strong>Not Approved</strong></p>
                                                        {% endif %}
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                        {% if event.status == "Open" %}
                                            <hr>
                                            <div class="text-center">
                                                <a class="btn btn-lg lilac-button" href="{% url 'events:video_reorder' uuid=event.uuid %}">Approve and Order Videos</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div> 
                </div>
                {% if not event.order %}
                <div class="card-footer text-center">
                    <a class="btn btn-lg teal-button" href="{% url 'orders:publish_event' uuid=event.uuid %}"><span class="far fa-heart"></span> &nbsp;Publish & Submit for Editing</a>
                </div>
                {% endif %}
            </div>



{% endblock content %}

{% block footscript %}
<script src="{% static 'dashboard/dist/clipboard.min.js' %}"></script>
<script>
new ClipboardJS('.btn')
</script>
<script>
$(function() {
    $('.show-or-hide').hide();
});
$("#changeImage").click(function() {
    $('.show-or-hide').toggle();
});

</script>

{% endblock footscript %}