{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="content-container">
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="image-head text-center mb-2">
                        {% if event.image %}
                            <img class="card-img-top" src="{{event.image.url}}" alt="Image Not Found">
                        {% else %}
                            <img class="card-img-top" src="{% static "dashboard/img/heart-stock.png" %}" alt="Image Not Found">
                        {% endif %}
                    </div>
                    <h3 class="text-center mb-4">{{event.user.first_name}} has invited to you to share your love for {{event.name}}!</h3>
                    <div class="col-lg-6 mx-auto">
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {% bootstrap_form_errors form %}
                            {% bootstrap_form form layout="horizontal" %}
                            <div class="text-center">
                                {% bootstrap_button "Submit" button_type="submit" button_class="btn btn-lg lilac-button"%}
                            </div>
                        </form>
                    </div>
                <hr>
                <div class="text-center">
                    <a class="btn btn-lg teal-button" href="{% url 'accounts:login' %}">Start a Love Note</a>
                </div>
            </h3>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>



{% endblock content %}