{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block og_tags %}
	{% include 'base_og_tags.html' %}
{% endblock og_tags %}
{% block content %}

            <div class="card">
                <div class="card-body">
                    <div class="image-head text-center mb-2">
                        {% if event.image %}
                            <img class="card-img-top" src="{{event.image.url}}" alt="Image Not Found">
                        {% else %}
                            <img class="card-img-top" src="{% static "dashboard/img/lnv-phone-logo.png" %}" alt="Image Not Found">
                        {% endif %}
                    </div>
                    <h3 class="text-center mb-2">{{event.user.first_name}} has invited to you to share your love for {{event.name}}!</h3>
                    <p class="text-center mb-4">Use your phone to record your video message and upload here!</p>
                    <div class="text-center mb-4">    
                        <button type="button" class="btn btn-lg pink-button" data-toggle="modal" data-target="#tipsModal"><span class="far fa-lightbulb"></span> &nbsp;Recording Tips</button>
                    </div>
                    <div class="col-lg-6 mx-auto">
                        {% if event.status == "Open" %}
                        
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {% bootstrap_form_errors form %}
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="id_video">Video:</label>
                                <div class="col-md-9">
                                    <input type="file" name="video" class="form-control-file" title="" required id="id_video" accept="video/*">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="id_uploaded_by">From:</label>
                                <div class="col-md-9">
                                    <input type="text" name="uploaded_by" maxlength="255" class="form-control" placeholder="From:" title="" required id="id_uploaded_by">
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-lg lilac-button" id="submit-button" type="submit">Submit</button>
                            </div>
                        </form>
                        {% else %}
                            <p class="text-center">Sorry! This Love Note has already been published and is no longer accepting submissions!</p>
                        {% endif %}
                    </div>
                <hr style="margin-top:75px;">
                <div class="text-center">
                    <p class="mb-2">Want to create your own Love Note Video?</p>
                    <a class="btn btn-lg teal-button" href="{% url 'accounts:login' %}">Get Started!</a>
                </div>
            </h3>
            </div>
<!-- Modal -->
<div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tips for Best Video Quality</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol>
            <li>Position of Camera</li>
                <ul>
                    <li>Horizontal is important! Hold the camera so the video is wider. NOT Vertical Video! Even if this will be watched on a phone or tablet later, we edit horizontally not vertically.</li>
                    <li>Lighting</li>
                        <ul>
                            <li>Film yourself in a location with consistent lighting across the subjects and background.</li>
                            <li>Do not film in a location where you may need to squint or have so much lighting that you are hard to see.</li>
                            <li>Having too much light behind you (a bright window) may cause the subject (you) to be dark.</li>
                        </ul>
                    <li>Angle</li>
                        <ul>
                            <li>Most people prefer a camera angle that is a little above the subjects head or straight on level. Not below the subject's eyes.</li>
                        </ul>
                    <li>Keep the camera steady, if using a phone lean it on something stable if needed.</li>
                </ul>
            <li>Location</li>
                <ul>
                    <li>Please look behind you before filming, make sure the background is what you wish to share with everyone.</li>
                    <li>If creating a long video, please make sure there is no movement that may distract in the background.</li>
                </ul>
            
            <li>Audio</li>
                <ul>
                    <li>Very important to find a quiet location.</li>
                    <li>Please be careful not to film in a windy location that will make it difficult to hear.</li>
                </ul>
            <li>Filming</li>
                <ul>
                    <li>Please leave 2 seconds at the start and finish for editing purposes if needed.</li>
                        <ul>
                            <li>Hit record, pause two seconds then start.</li>
                            <li>When finished, pause two seconds then hit stop.</li>
                            <li>We will trim the edges of the film.</li>
                        </ul> 
                </ul>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block footscript %}
<script type="text/javascript" src="{% static 'dashboard/js/bootstrap-uploadprogress.js' %}"></script>
<script>
  $("form").uploadprogress({
    redirect_url: "{% url 'events:thank_you' %}"
  });
</script>
{% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
<script>

$(document).ready(function () {
    $('#submit-button').click(function(){
        $('body').LoadingOverlay("show", {
            image       : "fas fa-spinner fa-spin",
            imageAnimation: "2000ms rotate_right",
            imageAutoResize: true,
            imageResizeFactor: 1,
            imageColor: "#00bbf9"
            progress    : true,
            progressColor: "#00bbf9"
        });
        var count     = 0;
        var interval  = setInterval(function(){
            if (count >= 100) {
                clearInterval(interval);
                $('body').LoadingOverlay("text", "Processing Video ...");
                return;
            }
            count += 10;
            $('body').LoadingOverlay("progress", count);
        }, 300);
});
});


    
</script> {% endcomment %}
{% endblock footscript %}