{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

            <div class="card">
                <div class="card-body">
                    <div class="image-head text-center mb-2">
                        {% if event.image %}
                            <img class="card-img-top" src="{{event.image.url}}" alt="Image Not Found">
                        {% else %}
                            <img class="card-img-top" src="{% static "dashboard/img/lnv-phone-logo.png" %}" alt="Image Not Found">
                        {% endif %}
                    </div>
                    <h3 class="text-center mb-4">{{event.user.first_name}} has invited to you to share your love for {{event.name}}!</h3>
                    <div class="col-lg-6 mx-auto">
                        {% if event.status == "Open" %}
                        
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {% bootstrap_form_errors form %}
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="id_video">Video:</label>
                                <div class="col-md-9">
                                    <input type="file" name="video" class="form-control-file" title="" required id="id_video" accept="video/*">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="id_uploaded_by">From:</label>
                                <div class="col-md-9">
                                    <input type="text" name="uploaded_by" maxlength="255" class="form-control" placeholder="From:" title="" required id="id_uploaded_by">
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-lg lilac-button" type="submit">Submit</button>
                            </div>
                        </form>
                        {% else %}
                            <p class="text-center">Sorry! This Love Note has already been published and is no longer accepting submissions!</p>
                        {% endif %}
                    </div>
                <hr>
                <div class="text-center">
                    <a class="btn btn-lg teal-button" href="{% url 'accounts:login' %}">Start a Love Note</a>
                </div>
            </h3>
            </div>



{% endblock content %}

{% block footscript %}
<script type="text/javascript" src="{% static 'dashboard/js/bootstrap-uploadprogress.js' %}"></script>
<script>
  $("form").uploadprogress({
    redirect_url: "{% url 'events:thank_you' %}"
  });
</script>
{% endblock footscript %}